@model MyMvc.Models.HomeModel

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <p>Hi everyone.</p>
    <hr />
    <p>Hahahhaaaa, keep loving mutu haru.</p>
    <strong>@Model.Message</strong>
</head>
<body>
</body>
</html>
